:root {
    --tileSize: 68px;
    --keySize: 48px;
}

body {
    background-color: black;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, sans-serif;

    /* remove text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

input {
    font-family: inherit;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0 0 0;
}

#help {
    text-align: center;
    font-size: 20px;
    margin: 10px 0 45px 0;
}

/* main menu */

#menu {
    width: fit-content;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#menu button {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    background-color: #222;
    color: #eee;
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px solid #444;
    cursor: pointer;
}

#menu button:hover {
    background-color: #333;
    border-color: #666;
}

/* faire la différence entre le input text et le input checkbox */

#menu input[type="number"] {
    margin-top: -10px;
    width: 50px;
    height: 46px;
    border-radius: 6px;
    border: 2px solid #444;
    background-color: #111;
    color: #eee;
    font-size: 25px;
    padding: 0 10px;
}

#menu input[type="number"]:focus {
    outline: none;
    border-color: #666;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.12);
}

#menu input[type="checkbox"] {
    margin-top: -15px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

#menu p {
    margin: 0;
    text-align: center;
    font-size: 20px;
}

/* game */
#board {
    width: fit-content;
    min-height: calc((var(--tileSize) + 10px) * 5 - 20px);
    margin: auto;
    padding-left: var(--tileSize);
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row {
    width: fit-content;
    display: flex;
    gap: 10px;
}

.tile {
    width: var(--tileSize);
    height: var(--tileSize);
    border-radius: 6px;
    background: transparent;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    border: 2px solid #999;
    outline: none;
}

/* inputs used in first row */
input.tile:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.12);
    border-color: #fff;
}

span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--tileSize);
    height: var(--tileSize);
}

/* Result color */

.green {
    background-color: #538d4e;
    -webkit-animation: rotate-in-center 0.6s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) 2 both;
    animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2 both;
}

.yellow {
    background-color: #b59f3b;
    -webkit-animation: jello-horizontal 0.8s linear both;
    animation: jello-horizontal 0.8s linear both;
}

.gray {
    background-color: #3a3a3c;
}

/* Clavier */

#keyBoard {
    width: fit-content;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#keyBoard > .row {
    width: fit-content;
    margin: auto;
}

#keyBoard > .row > div {
    width: var(--keySize);
    height: var(--keySize);
    border-radius: 6px;
    background: transparent;
    color: #eee;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: calc(var(--keySize) * 0.625);
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    border: 2px solid #353535;
    outline: none;
}

/* touche entré */
#keyBoard > .row > #enter {
    width: calc(var(--keySize) * 2.8);
}
#keyBoard > .row > #suppr {
    width: calc(var(--keySize) * 2.8);
}

/* letter not in word */
#keyBoard > .row > .black {
    background-color: #151515;
    border: none;
    color: #000000;
}

/* imported */
.loadingIcon > span {
    width: 1em;
    height: 1em;
    font-size: 10px;
    border-radius: 50%;
    text-indent: -9999em;
    animation: loadingAnim 1.1s infinite ease;
    transform: translateZ(0);
}
@keyframes loadingAnim {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff,
            1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
            2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
            1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
            0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
            -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
            -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
            1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
            1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
            0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
            -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
            1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
            1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
            0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
            -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
            1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
            2.5em 0em 0 0em rgba(255, 255, 255, 0.7),
            1.75em 1.75em 0 0em #ffffff,
            0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
            -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
            1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
            2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
            1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7),
            0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
            -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
            1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
            2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
            1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
            0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
            -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
            1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
            2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
            1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
            0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
            -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7),
            -2.6em 0em 0 0em #ffffff,
            -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
            1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
            2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
            1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
            0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
            -2.6em 0em 0 0em rgba(255, 255, 255, 0.7),
            -1.8em -1.8em 0 0em #ffffff;
    }
}

.error {
    -webkit-animation: shake-horizontal 0.4s linear;
    animation: errorAnim 0.4s linear;
}
@keyframes errorAnim {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    80% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    90% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
}

@keyframes rotate-in-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/* responsive */

@media (min-width: 400px) and (max-width: 600px) {
    :root {
        --tileSize: 50px;
        --keySize: 28px;
    }
    h1 {
        font-size: 40px;
    }
    .tile {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    :root {
        --tileSize: 34px;
        --keySize: 18px;
    }
    h1 {
        font-size: 30px;
    }
    .tile {
        font-size: 1.25rem;
    }
}
